.headding {
    width: 100%;
    height: 200px;
    background-color: brown;
}

.headding > h1{
    text-align: center;
    background-color: brown;
}
.search-bar{
    justify-content: center;
    /* padding: 5px auto 5px 50px; */
    width: 100%;
    height: 80px;
    background-color: rgb(114, 114, 61)
}
.display{
    background-color:  rgb(114, 114, 61);
}
input{
    height: 30px;
    position: relative;
    left:350px

}